In [1]:
x={}
print(type(x))

<class 'dict'>

In [2]:
 file_count ={"jpg":10,"txt":44,"csv":33,"py":65}
print(file_count)

{'jpg': 10, 'txt': 44, 'csv': 33, 'py': 65}

In [3]:
file_count["jpg"]

10

In [4]:
"jpg" in file_count

True

In [5]:
"html" in file_count

False

In [6]:
#to add an entry key value pair

file_count["cfg"]=8
file_count

{'jpg': 10, 'txt': 44, 'csv': 33, 'py': 65, 'cfg': 8}

In [7]:
file_count["csv"]=99 # we can update the value too in dict

In [8]:
file_count

{'jpg': 10, 'txt': 44, 'csv': 99, 'py': 65, 'cfg': 8}

In [9]:
# Also we can delete the element
del file_count["cfg"]

In [10]:
file_count

{'jpg': 10, 'txt': 44, 'csv': 99, 'py': 65}

In [11]:
# iterating the dict
for i in file_count:
    print(i)

jpg
txt
csv
py

In [12]:
for i,j in file_count.items():
    print("there are {} files with the .{} extentions".format(j,i))

there are 10 files with the .jpg extentions
there are 44 files with the .txt extentions
there are 99 files with the .csv extentions
there are 65 files with the .py extentions

In [13]:
file_count.keys()

dict_keys(['jpg', 'txt', 'csv', 'py'])

In [14]:
file_count.values()

dict_values([10, 44, 99, 65])

In [15]:
for value in file_count.values():
    print(value)

10
44
99
65

In [16]:
def count_letters(text):
    result={}
    for letter in text:
        if letter not in  result:
            result[letter]=0
        result[letter] += 1
    return result

In [17]:
count_letters("aaaa")

{'a': 4}

In [18]:
count_letters("112223333")

{'1': 2, '2': 3, '3': 4}

In [19]:
count_letters(" hey anirudh how are you")

{' ': 5,
 'h': 3,
 'e': 2,
 'y': 2,
 'a': 2,
 'n': 1,
 'i': 1,
 'r': 2,
 'u': 2,
 'd': 1,
 'o': 2,
 'w': 1}

In [20]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for item in wardrobe:
	for values in wardrobe[item]:
		print("{} {}".format(values, item))

red shirt
blue shirt
white shirt
blue jeans
black jeans

In [21]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
# for item in wardrobe:
for value in wardrobe.values():
    print(value)
#     print(item)

['red', 'blue', 'white']
['blue', 'black']

In [22]:
def email_list(domains):
    emails = []
    for domain, users in domains.items():
        for user in users:
            emails.append("{}@{}".format(user,domain))
    return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for groups,users in group_dictionary.items():
		# Now go through the users in the group
		for user in users:
			if user not in user_groups:
				user_groups[user] = []
			user_groups[user].append(groups)
			# Now add the group to the the list of
# groups for this user, creating the entry
# in the dictionary if necessary


	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

In [23]:
def groups_per_user(group_dictionary):
    user_groups = {}
    for groups,users in group_dictionary.items():
        for user in users:
            if user not in user_groups:
                if user not in user_groups:
                    user_groups[user] = []
                user_groups[user].append(groups)
                
    return(user_groups)

In [24]:
groups_per_user({"local": ["admin", "userA"],"public":  ["admin", "userB"],"administrator": ["admin"] })

{'admin': ['local'], 'userA': ['local'], 'userB': ['public']}

In [25]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)

In [26]:
wardrobe

{'shirt': ['red', 'blue', 'white'],
 'jeans': ['white'],
 'scarf': ['yellow'],
 'socks': ['black', 'brown']}

In [27]:
def add_prices(basket):
	# Initialize the variable that will be used for the calculation
	total = 0
	# Iterate through the dictionary items
	for value in basket.values():
		# Add each price to the total calculation
		# Hint: how do you access the values of
		# dictionary items?
		total += value
	# Limit the return value to 2 decimal places
	return round(total, 2)  

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
	"coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44

28.44